body {
  background-color: #f9f9fa;
  padding: 0;
  margin: 0;
  font-family: 'Poppins'
}


.form-control {
  border: 1px solid #f3f3f3;
  font-weight: 400;
  font-size: 0.875rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.875rem 1.375rem;
  font-size: 1rem;
  line-height: 1;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

