body {
  background-color: #f9f9fa;
}

html, body {
  margin:0px;
  height:100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-to {
  opacity: 0;
}

.fade-enter-to, .fade-exit, .fade-exit-to {
  transition: opacity 1s;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.add-items {
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.list-wrapper ul li .form-check label:hover {
  cursor: pointer;
}

.list-wrapper .completed {
  text-decoration: line-through;
  text-decoration-color: #3da5f4;
}

.list-wrapper ul li .form-check {
  max-width: 90%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.form-check {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}

.form-check .form-check-label {
  min-height: 18px;
  display: block;
  margin-left: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-check-label {
  margin-bottom: 0;
}

.list-wrapper input[type="checkbox"] {
  margin-right: 15px;
}

.form-check .form-check-label input {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.list-wrapper .remove {
  cursor: pointer;
  font-size: 1.438rem;
  font-weight: 600;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 20px;
  text-align: center;
  margin-left: auto !important;
}

.list-wrapper ul li {
  font-size: 0.9375rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #f3f3f3;
  display: flex !important;
}

.list-wrapper ul {
  padding: 0;
  text-align: left;
  list-style: none;
  margin-bottom: 0;
}

.flex-column-reverse {
  flex-direction: column !important;
}
